html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(252, 181, 0);
  background-image: url('./assets/train.png');
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bttn {
  width: 40%;
  margin-left: 30%;
  margin-top: 5%;
  font-size: 2ch;
  background-color: rgb(255, 255, 255);
}

img {
  width: 10%;
  margin-left: 45vw;
}

img#train {
  margin-top: 5%;
}

img#mars {
  margin-top: 20%;
}
